<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pupas SV</title>
    <link rel="stylesheet" href="../styles/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Open+Sans:wght@300;600&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="../../resources/images/pupas-logo.png" alt="Logo Pupas SV">
            </div>
            <nav>
                <ul>
                    <li><a href="./index.html">Inicio</a></li>
                    <li><a href="./sucursales.html">Sucursales</a></li>
                    <li><a href="./menu.html">Menú</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="./carrito.html" class="btn">Ver carrito</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section id="carrito-section">
            <h1>Tu Carrito</h1>
            <div id="carrito-items"></div>
            <div id="carrito-total"></div>
        </section>
    </main>
</body>
<script type="module" src="../viewBuilders/CarritoViewBuilder.js"></script>
</html>