<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Pupas SV</title>
  <link rel="stylesheet" href="../styles/style.css" />
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Open+Sans:wght@300;600&display=swap"
    rel="stylesheet">
</head>

<body>
  <header>
    <div class="container">
      <div class="logo">
        <img src="../../resources/images/pupas-logo.png" alt="Logo Pupas SV">
      </div>
      <nav>
        <ul>
          <li><a href="./index.html">Inicio</a></li>
          <li><a href="#">Sucursales</a></li>
          <li><a href="#">Menú</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a href="#" class="btn">Pedidos Online</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main>
    <div class="main-container">
      <section class="combos">
        <h1>Combos disponibles</h1>
        <div id="combos"></div>
      </section>
      <section class="productos">
        <h1>Productos disponibles</h1>
        <div id="productos"></div>
      </section>
    </div>

  </main>
</body>
<script type="module" src="../api/ComboApi.js"></script>
<script type="module" src="../api/ProductoApi.js"></script>

</html>